@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

@layer components {
 .hyphens {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
 }
}


.v-scrollbar::-webkit-scrollbar-track,
.h-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 0.7rem;
}

.dark .v-scrollbar::-webkit-scrollbar-track,
.dark .h-scrollbar::-webkit-scrollbar-track
{
	background-color: #89c2d9;
}

.v-scrollbar::-webkit-scrollbar,
.h-scrollbar::-webkit-scrollbar
{
	background-color: rgba(255, 255, 255, 0.2);
}

.dark .v-scrollbar::-webkit-scrollbar,
.dark .h-scrollbar::-webkit-scrollbar
{
	background-color: rgba(255, 255, 255, 0.2);
}

.v-scrollbar::-webkit-scrollbar
{
	width: 0.6rem;
}

.h-scrollbar::-webkit-scrollbar
{
	height: 0.4rem;
}

.v-scrollbar::-webkit-scrollbar-thumb,
.h-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 0.7rem;
	background-color: rgba(135, 135, 135, 0.6);
}

.dark .v-scrollbar::-webkit-scrollbar-thumb,
.dark .h-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #2c7da0;
}